<%- include("header.ejs", {title: title}) %>

<h1 class="title">Add vaccine to patient <%= ssn %></h1><br>

<form method="post">
    <div class="form__group">
        <!-- <label class="form__label" for="ssn">SSN</label> -->
        <input class="form__input" type="text" placeholder="SSN" name="ssn" value="<%= ssn %>" maxlength="12" minlength="12"
            required readonly="true">
    </div><br>

    <div class="form__group">
        <!-- <label class="form__label" for="name">Name</label> -->
        <input class="form__input" placeholder="Name" type="text" name="name" value="<%= res[0].name %>" required
            readonly="true">
    </div><br>

    <select class="form__input" id="vaccine" name="vaccine" required>
        <option value="COVID-19">COVID-19</option>
        <option value="TBE">TBE</option>
    </select><br>


    <div class="form__group">
        <!-- <label class="form__label" for="type">Type</label> -->
        <input class="form__input" placeholder="Type" type="text" name="type" value="" required>
    </div><br>

    <div class="form__group">
        <!-- <label for="description">Description:</label><br> -->
        <input class="form__input" type="text" placeholder="Description" name="description" value="" required>
    </div><br>

    <div class="form__group">
        <!-- <label class="form__label" for="phone">Phone</label> -->
        <input class="form__input" placeholder="Phone" type="text" name="phone" value="<%= res[0].phone %>" required
            maxlength="10" readonly="true">
    </div><br>

    <input class="form__input" type="submit" value="Submit" class="button2">
</form>

<%- include("footer.ejs") %>
