<%- include("header.ejs", {title: title}) %>


<h1>Vaccines</h1>


<table class="styled-table">
    <tr>
        <th>SSN</th>
        <th>Name</th>
        <th>Vaccine</th>
        <th>Type</th>
        <th>Date</th>
        <th>Description</th>
        <th>Phone</th>
    </tr>

<% for (const row of res) { %>
    <tr>
        <td>
            <%= row.ssn %>
        </td>
        <td>
            <%= row.name %>
        </td>
        <td>
            <%= row.vaccine %>
        </td>
        <td>
            <%= row.type %>
        </td>
        <td>
            <%= row.date %>
        </td>
        <td>
            <%= row.description %>
        </td>
        <td>
            <%= row.phone %>
        </td>
    </tr>
    <% }; %>


</table>

<a href="add">Add new vaccine</a>

<%- include("footer.ejs") %>
